.button {
  border-image-slice: 0 0 0 0 fill;
  border-image-width: 0px 0px 0px 0px;
  border-image-outset: 0px 15px 0px 15px;
  border-image-repeat: stretch stretch;

  transition: all 0.15s linear;
}

.button:hover,
.button:focus,
.button:active {
  border-image-outset: 0px 25px 0px 25px;
}
