@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto:wght@100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}


/*UFO*/
@keyframes fly-up-down {
  0% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

.fly-up-down {
  animation: fly-up-down 1.5s ease-in-out infinite;
}

.planet-background-1 {
  background: radial-gradient(80.36% 80.36% at 18.95% 26.51%, #60DBFF 0.56%, #60D5FF 9.37%, #5FC4FF 21.1%, #5DA9FF 34.46%, #5A82FF 49.03%, #5751FF 64.42%, #5643FF 68.44%, #563DF8 74.32%, #552EE5 82.82%, #5315C6 92.87%, #5200AB 100%);
  background-size: 150% 150%;
  animation: none; /* Disable the initial rotation animation */
}