.sponsorgrid {
    display: grid;
    gap: 0.4rem;
    grid-template-areas:
        "al-1 hr-1 hr-1"
        "sq-1 sq-1 al-2"
        "sq-1 sq-1 al-5"
        "al-3 al-4 vr-1"
        "hr-2 hr-2 vr-1"
        "al-6 sq-2 sq-2"
        "al-7 sq-2 sq-2"
        "hr-3 hr-3 al-8";
}

@media (min-width: 768px) {
    .sponsorgrid {
        display: grid;
        gap: 0.4rem;
        grid-template-areas:
            "al-1 sq-1 sq-1 hr-1 hr-1 vr-1"
            "al-2 sq-1 sq-1 al-3 al-4 vr-1"
            "hr-2 hr-2 al-5 sq-2 sq-2 al-6"
            "al-7 hr-3 hr-3 sq-2 sq-2 al-8";
    }
}

/* DOCUMENTATION
al-1 al-8
hr-1 hr-3
vr-1
sq-1 sq-2 */
/* TODO: make sure there is al=tleast one al in one row */
